<div class="aa-about-template">
    <div class="row" lang="sv">
        <div class="col-sm-4">
            <aa-input-mask-int></aa-input-mask-int>
        </div>
        <div class="col-sm-4">
            <aa-input-mask-dec></aa-input-mask-dec>
        </div>
        <div class="col-sm-4">
            <aa-input-mask-hectare></aa-input-mask-hectare>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="row">
        <div class="col-md-8 col-lg-6">
            <div>
                <p>
                    This Angular Application is primary about architecture. It is based on two Pluralsight Courses and their correspondant Git
                    Hub Repos.
                </p>
                <div class="aa-bg-box"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <h3>Goals</h3>
                <ul>
                    <li>Get better at Angular</li>
                    <li>Keep Angular projects orginized and modular</li>
                    <li>Use 'controller as' syntax</li>
                    <li>Use ui-router</li>
                    <li>Get resolve to work</li>
                    <li>Use gulp for the usal suspects like compiling LESS/SASS, bundeling and minification</li>
                    <li>But also use gulp for autoprefix css, ng-annotate and strip console.log</li>
                    <li>Get the same LESS architecture with Bootstrap as with SASS and Foundation</li>
                    <li>Repeat Bootstrap a little bit</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <h3>Resources</h3>
                <ul>
                    <li>
                        <a href="https://app.pluralsight.com/library/courses/angularjs-patterns-clean-code/table-of-contents" target="_blank">Angular Patterns Clean Code</a>
                    </li>
                    <li>
                        <a href="https://app.pluralsight.com/library/courses/angular-application-development/table-of-contents" target="_blank">Angular Application Development</a>
                    </li>
                    <li>
                        <a href="https://github.com/johnpapa" target="_blank">John Papas repo with sample projects and a styleguide for Angular</a>
                    </li>
                    <li>
                        <a href="https://github.com/simpulton" target="_blank">Lukas Ruebbelkes repo with sample projects</a>
                    </li>
                    <li>
                        <a href="https://app.pluralsight.com/library/courses/angular-routing-in-depth/table-of-contents" target="_blank">Angular Routing In-depth</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <h3>Up a head</h3>
                <p>
                    Might go further with this project and incorparate Angular unit testing.
                </p>
                <p>
                    We have made a little Angular unit testing. Iam so ambitious!
                </p>

                <hr>
                <h4 class="text-success">Current day is {{::aboutCtrl.currentDay}} and that means: {{::aboutCtrl.currentDayMessage}}</h4>
            </div>
        </div>
    </div>

    <div>
        <div>
            <input type="text" ng-model="aboutCtrl.gamesFilter" ng-keyup="aboutCtrl.checkGameSelected()">
        </div>
        <div>
            <!--<select
                ng-change="aboutCtrl.checkGameSelected()"
                ng-model="aboutCtrl.gameSelected.id"
                ng-options="g.id as g.name for g in aboutCtrl.games | filter: aboutCtrl.gamesFilter track by g.id">
                <option value="">VÄLJ</option>
            </select>-->
            <!--
                
                g as g.name for g in aboutCtrl.games | filter: aboutCtrl.gamesFilter track by g.id
            -->

            <select ng-model="aboutCtrl.gameSelected" ng-change="aboutCtrl.checkGameSelected()">
                <option value="{{ game.id }}" ng-selected="aboutCtrl.gameSelected == game.id" ng-repeat="game in aboutCtrl.gamesFiltered = (aboutCtrl.games | filter: aboutCtrl.gamesFilter)">{{ game.name }}</option>
            </select>
        </div>
    </div>
    <div>
        {{papaCtrl.foo}}
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="row">
        <div class="col-sm-6">
            <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup current-text="Idag" clear-text="Rensa" close-text="Stäng" starting-day="1"
                    ng-model="aboutCtrl.uiDatePickerOne.vm" is-open="aboutCtrl.uiDatePickerOne.isOpen" ng-click="aboutCtrl.uiDatePickerOne.open($event)"
                    ng-change="aboutCtrl.uiDatePickerOne.changeEvent()" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="aboutCtrl.uiDatePickerOne.toggle($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-sm-6"></div>
    </div>
</div>
