<div class="aa-start-template">
    <div class="row">
        <div class="col-md-12">
            <p>Welcome to start ...</p>
            <div aa-fade-out-on-click="" callback="startCtrl.fadeOutCallback()">Click me</div>
            <p><a ui-sref="about">Link to about</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>We use a custom debounce for input here</h3>
            <input type="text" aa-debounce-input="" callback="startCtrl.search()" delay="2000"></input>
        </div>
    </div>
    <div class="row" ng-controller="directiveShareParent as directiveShareParentCtrl">
        <div class="col-md-12 aa-parent-controller-output">
            <h3>Directives share controller:s, parent controller</h3>
            <p>If this controller was named ctrl, it would have shared scope with sub directives (which have scope:false)</p>
            <div>{{directiveShareParentCtrl.person.food}}</div>
            <div>
                <input type="text" ng-model="directiveShareParentCtrl.person.food" />
            </div>
        </div>
        <div class="col-md-12">
            <h4>Directives share a controller</h4>
            <p>
                Directive a, b, c must share scope (scope:false) for access to same controller in bindings
                <br/> Directives also gets access to directiveShareParentCtrl:s properties and can bind to them
            </p>
            <h4>Directives also share directiveShareGameFactory, they can share it and work with bindings, even with isolate scope (scope:{})</h4>
        </div>
        <aa-directive-share-controller-a></aa-directive-share-controller-a>
        <aa-directive-share-controller-b></aa-directive-share-controller-b>
    </div>
    <div class="row">
        <div class="col-md-12" ng-controller="someControllerParent as someCtrlA">
            <h3>Sub Controller Bindings</h3>
            <p>
                If controller as properties name are different (parents and child), then the child can bind to the parents properties. <br/>
                If controller as properties name the same, then child can not bind to parents properties.
            </p>
            <div>
                someControllerParent name: {{ someCtrlA.name }}
            </div>
            <div>
                <input type="text" ng-model="someCtrlA.name">
            </div>
            <div ng-controller="someControllerChild as someCtrlB">
                <div>
                    someControllerChild name: {{ someCtrlB.name }}
                </div>
                <div>
                    someControllerParent name: {{ someCtrlA.name }}
                </div>
                <div>
                    <input type="text" ng-model="someCtrlB.name">
                </div>
            </div>
        </div>
    </div>
</div>