<div class="aa-responsivejs-template">
    <div class="row">
        <div class="col-md-12">
            <p>Here we check if we are in one of bootstraps media query ranges</p>
            <div class="form-group" 
                 ng-class="{'has-success': (responsivejsCtrl.rangeInputIsInRange && responsivejsCtrl.rangeCheckButtonClicked), 'has-error': (!responsivejsCtrl.rangeInputIsInRange && responsivejsCtrl.rangeCheckButtonClicked)}">
                <input class="form-control" type="text" placeholder="xs | sm | md | lg" ng-model="responsivejsCtrl.rangeInput">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary" ng-click="responsivejsCtrl.checkIfInRange()">Check it!</button>
            </div>
            <div class="form-group" ng-show="responsivejsCtrl.rangeCheckButtonClicked">
                {{responsivejsCtrl.rangeCheckOutput}}
            </div>
        </div>
    </div>
</div>